#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config LIBNETAPP_SMTP
	bool "SMTP"
	default n
	---help---
		Enable support for SMTP.

if LIBNETAPP_SMTP
endif
