#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config UTIL_NETLIB
	bool "Network support library"
	default n
	---help---
		Enable support for the network support library.


