#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config UTIL_INIFILE
	bool "INI file parser"
	default n
	---help---
		Enable support for a simple INI file parser.

if UTIL_INIFILE

config UTIL_INIFILE_MAXLINE
	int "Max line length"
	default 256
	---help---
		The largest line that the parser can expect to see in an INI file.

config UTIL_INIFILE_DEBUGLEVEL
	int "Debug level"
	default 0
	range 0 2
	---help---
		0=Debug off; 1=Print errors on console; 2=Print debug information
		on the console.

endif # UTIL_INIFILE
